<div id="container">
    <ng-template #container>

    </ng-template>
    <div #pack_discard class="pack_discard">
        <div class="row">
            <div #pack id="pack" class="col-">
                <app-pack [isDrawable]="roundStart" (draw)="drawCard()"></app-pack>
            </div>
            <div class="col-">
                STICK
            </div>
            <div class="discard col-">
                <app-discard #discard [isDrawable]="roundStart" [isDiscardable]="canDiscard" (dive)="dumpsterDive()" (discard)="clickedDiscard()"></app-discard>
            </div>
        </div>
    </div>
</div>

<div id="menu-button">
    <span routerLink="/menu">&equiv;</span>
</div>