:host{
    height: 100%;
    width: 70%;
    float: left;
    background:radial-gradient(#0C6339 10%,#08472A 90%);
}

#container{
    float: none;
    height: 100%;
    width: 100%;
}

div.placeholder {
    position: absolute;
    width: 300px;
    height: 200px;
    border: 2px solid black;
}

#menu-button{
    position: absolute;
    bottom: 2%;
    left: 2%;

    span{
        font-weight: 600;
        font-size: 3em;
        color: grey;
    }
}