<div id="container">
    <ng-template #container>

    </ng-template>
    <div #pack_discard class="pack_discard">
        <div class="row">
            <div #pack id="pack" class="col-">
                <app-pack [isDrawable]="roundStart" (draw)="drawCard()"></app-pack>
            </div>
            <div class="col-">
                {{state}}
                <br>
                <button *ngIf="state!='swap-cards'" type="button" class="btn btn-info" (click)="stickClicked()">STICK</button>
                <!-- <ng-template *ngIf="state=='swap-cards'" #skipSwap><button type="button" class="btn btn-info">Skip<br>Swap</button></ng-template> -->
                <button *ngIf="state=='swap-cards'" type="button" class="btn btn-info" (click)="skipSwapClicked()">Skip<br>Swap</button>
            </div>
            <div class="discard col-">
                <app-discard #discard [isDrawable]="roundStart" [isDiscardable]="canDiscard"
                            (dive)="dumpsterDive()" (discard)="clickedDiscard()"></app-discard>
            </div>
        </div>
    </div>
</div>

<div id="menu-button">
    <span routerLink="/menu">&equiv;</span>
</div>