<div class="header">
    <span class="back" (click)="back('back')">&laquo;</span>
</div>

<h2 class="align-self-center">Start a new game</h2>

<div class="row">
    <div class="col-sm">
        <button (click)="playerClicked('1')" type="button" class="btn btn-outline-success">+</button>
        <h2>with {{playerCount}} players</h2>
        <button (click)="playerClicked('-1')" type="button" class="btn btn-outline-success">-</button>
    </div>
    <div class="col- align-self-center">
        <h2>&</h2>
    </div>
    <div class="col-sm">
        <button (click)="botClicked('1')" type="button" class="btn btn-outline-success">+</button>
        <h2>with {{botCount}} bots</h2>
        <button (click)="botClicked('-1')" type="button" class="btn btn-outline-success">-</button>
    </div>
</div>

<div class="footer">
    <span (click)="startClicked()">Start</span>
</div>