@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
:host{
    width: 100%;
}
.card {
    display: inline-block;
    width: 100%;
    padding: 8px 20px 5px 16px;
    position: relative;
    font-family: 'Kalam', cursive;
    h5{
        font-weight:700;
        margin: 0 0 5px 0;
        font-size: .9rem;
    }
    p{
        line-height: 60%;
        padding-left:5%;
    }
}
