<div [@slideStatus]="status" id="container" #container>
    <div class="left">
        <span style="font-size: 1em; padding-left: 0px;">K</span>
        <br>
        <span>&hearts;</span>
    </div>
    <div class="card-body text-white text-center">
        <h5 class="card-title">CABO CARD GAME</h5>
        <p class="card-text"></p>
        <br>
        <!-- routerLink="/game-room"  -->
        <button (click)="buttonClick('new-game')" type="button" class="btn btn-outline-success">Start a Game</button>
        <br>
        <button (click)="buttonClick('join-game')" type="button" class="btn btn-outline-success">Join a Game</button>
        <br>
        <button (click)="buttonClick('how-to-play')" type="button" class="btn btn-outline-success">How to play?</button>
    </div>
    <div class="right">
        <div class="rotated">
            <span style="font-size: 1em; padding-left: 0px;">K</span>
            <br>
            <span>&spades;</span>
        </div>
    </div>
</div>