<div id="container" #container>

  <div class="row justify-content-center" style="height: 10%; margin-bottom: 0.5em;">
    ID {{id}} <p *ngIf="points<100"> <b>{{points}}</b> points</p>
  </div>

  <div class="row " style="height: 45%;">
    <div (click)="containerClick($event,'6')" class="col d-flex justify-content-center">
      <ng-container #_6></ng-container>
    </div>
    <div (click)="containerClick($event,'0')" class="col d-flex justify-content-center">
      <ng-container #_0></ng-container>
    </div>
    <div (click)="containerClick($event,'1')" class="col d-flex justify-content-center">
      <ng-container #_1></ng-container>
    </div>
    <div (click)="containerClick($event,'7')" class="col d-flex justify-content-center">
      <ng-container #_7></ng-container>
    </div>
  </div>
  
  <div class="row" style="height: 45%;">
    <div (click)="containerClick($event,'4')" class="col d-flex justify-content-center">
      <ng-container #_4></ng-container>
    </div>
    <div (click)="containerClick($event,'2')" class="col d-flex justify-content-center">
      <ng-container #_2></ng-container>
    </div>
    <div (click)="containerClick($event,'3')" class="col d-flex justify-content-center">
      <ng-container #_3></ng-container>
    </div>
    <div (click)="containerClick($event,'5')" class="col d-flex justify-content-center">
      <ng-container #_5></ng-container>
    </div>
  </div>

</div>