<div id="container" #container>

    <div class="row " style="height: 50%;">
      <div #_7 class="col d-flex justify-content-center">
        7
      </div>
      <div #_1 class="col d-flex justify-content-center">
        1
      </div>
      <div #_2 class="col d-flex justify-content-center">
        2
      </div>
      <div #_8 class="col d-flex justify-content-center">
        8
      </div>
    </div>
    <div class="row" style="height: 50%;">
      <div #_5 class="col d-flex justify-content-center">
        5
      </div>
      <div #_3 class="col d-flex justify-content-center">
        3
      </div>
      <div #_4 class="col d-flex justify-content-center">
        4
      </div>
      <div #_6 class="col d-flex justify-content-center">
        6
      </div>
    </div>
    
</div>