img{
    width: 60px;
    height: 90px;
    border-radius: 4px;
    transition: all 1s ease;
}

@keyframes no-glow {

}

@keyframes glow-green {
    from {
      box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px limegreen, 0 0 12px limegreen;
    }
    
    to {
      box-shadow: 0 0 4px #fff, 0 0 8px green, 0 0 12px green, 0 0 16px green;
    }
}

@keyframes glow-yellow {
    from {
        box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px yellow, 0 0 12px yellow
    }

    to {
        box-shadow: 0 0 4px #fff, 0 0 8px yellowgreen, 0 0 12px yellowgreen, 0 0 16px yellowgreen;
    }
}

@keyframes glow-orange {
    from {
        box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px orange, 0 0 12px orange;
    }

    to {
        box-shadow: 0 0 4px #fff, 0 0 8px orangered, 0 0 12px orangered, 0 0 16px orangered;
    }
}


@keyframes glow-red {
    from {
        box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px orangered, 0 0 12px orangered;
    }

    to {
        box-shadow: 0 0 4px #fff, 0 0 8px red, 0 0 12px red, 0 0 16px red;
    }
}
