<div id="container" class="d-flex justify-content-center">
    <div class="card align-self-center">
        <div class="header">
            <span routerLink='/menu'>&clubs;</span>
        </div>
        <div class="card-body text-white text-center">
            <p class="card-text">some text
                some text
                some text
                some text
                some text
                some text
                some text
                some text
                some textsome text
                some text

                some textsome textsome text

                some text
                some text
                some text
                some text

            </p>
            <p class="card-text">some text
                some text
                some text
                some text
                some text
                some text
                some text
                some text
                some textsome text
                some text

                some textsome textsome text

                some text
                some text
                some text
                some text

            </p>
            <p class="card-text">some text
                some text
                some text
                some text
                some text
                some text
                some text
                some text
                some textsome text
                some text

                some textsome textsome text

                some text
                some text
                some text
                some text

            </p>
            <p class="card-text">some text
                some text
                some text
                some text
                some text
                some text
                some text
                some text
                some textsome text
                some text

                some textsome textsome text

                some text
                some text
                some text
                some text

            </p>
            <p class="card-text">some text
                some text
                some text
                some text
                some text
                some text
                some text
                some text
                some textsome text
                some text

                some textsome textsome text

                some text
                some text
                some text
                some text

            </p>
        </div>
    </div>
</div>